@import '../styles/fonts.scss';

.button {
    border-radius: 25px;
    border-color: black;
    width: 80px;
    height: 35px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: $font-small;
    transition: background 0.2s ease, color 0.2s ease;
}

.color-black {
    background: black;
    color: white;
    &:hover {
        background: #21282D;
    }
}

.color-white {
    background: white;
    color: black;
    &:hover {
        background: #F1F3F4
    }
}
