@import '../styles/fonts.scss';

.dropdownContainer {
    display: flex;
    flex-direction: column;
    height: 75px;
    max-width: 180px;
    min-width: 120px;
    gap: 8px;
    font-family: $font-regular;
}

.invalid {
    background: #FFF6F7;
}

.dropdown {
    height: 35px;
    font-size: $font-small;
    transition: background 0.2s ease;
}

.label {
    font-size: $font-medium;
}
