@import '../styles/fonts.scss';
@import '../styles/media.scss';

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 85px;
    max-width: 180px;
    min-width: 120px;
    width: 100%;
    font-family: $font-regular;
}

.input {
    height: 30px;
    font-size: $font-small
}

.label {
    font-size: $font-medium;
}

.invalid {
    background: #FFF6F7;
}

.error {
    font-size: $font-small;
    color: red;
}
