@import '../styles/fonts.scss';
@import '../styles/media.scss';

.body {
    margin: 50px;
    border: 1px solid black;
    padding: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: $mobile-break) {
        margin: 10px;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
}

.description {
    font: $font-large $font-regular;
    white-space: pre-line;
    max-width: 600px;
    margin-bottom: 15px;
}

.header {
    font: $h1 $font-bold;
}
